*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  width: auto;
  position: relative;
  display: inline-block;
}

h1 span {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 1.2rem;
}

h2 {
  position: relative;
  display: inline-block;
}

h2 span {
  position: absolute;
  bottom: -1.3rem;
  right: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

h4,
h3 {
  position: relative;
  padding: 0 30px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h4 span,
h4 a,
h3 span,
h3 a {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

nav {
  -webkit-box-shadow: 0px 3px 5px 0px #00000030;
          box-shadow: 0px 3px 5px 0px #00000030;
}

nav .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

nav .container-fluid .logo {
  width: 90px;
  height: 46px;
  background: chocolate;
}

nav .container-fluid .collapse {
  padding-left: 50px;
}

nav .container-fluid .collapse .navbar-nav {
  z-index: 900;
}

nav .container-fluid .collapse .navbar-nav .nav-item {
  width: auto;
}

nav .container-fluid .collapse .navbar-nav .nav-item a {
  width: 100%;
  position: relative;
  padding: 0 5px;
}

nav .container-fluid .collapse .navbar-nav .nav-item a::after {
  content: '';
  background-color: #1E87D2;
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 10px;
  left: 0;
}

nav .container-fluid .collapse .navbar-nav .nav-item a:hover, nav .container-fluid .collapse .navbar-nav .nav-item a:focus {
  font-weight: bolder;
  color: #1E87D2;
}

nav .container-fluid .collapse .navbar-nav .nav-item a:hover::after, nav .container-fluid .collapse .navbar-nav .nav-item a:focus::after {
  -webkit-animation: footerMenu 0.5s;
          animation: footerMenu 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

nav .container-fluid .collapse .navbar-nav .nav-item .uk-button {
  padding: 0 5px;
}

nav .container-fluid .collapse .navbar-nav .nav-item .padding {
  padding: 0 5px;
}

nav .container-fluid .collapse .navbar-nav .active {
  font-weight: bolder;
  color: chocolate;
}

nav .container-fluid .collapse .nav-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .collapse .nav-main li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container-fluid .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .user-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .user-nav div img {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

nav .container-fluid .user-nav li ul li {
  list-style: none;
  font-size: 0.9rem;
}

nav .container-fluid .user-nav li ul li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  position: relative;
}

nav .container-fluid .user-nav li ul li a:hover, nav .container-fluid .user-nav li ul li a:focus {
  color: #1E87D2;
}

.errorPage {
  padding-top: 50px;
}

.errorPage .errorPageWrapper h1 {
  width: 100%;
  display: block;
  text-align: right;
}

.errorPage .errorPageWrapper .errorPageP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.errorPage .errorPageWrapper .errorPageP p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.errorPage .errorPageWrapper .errorPagemonkey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.errorPage {
  padding-top: 50px;
}

.errorPage div {
  padding-top: 50px;
}

.flashWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: lightgrey;
}

.flashWrapper .info {
  color: blue;
}

.flashWrapper .success {
  color: #0e8003;
}

.flashWrapper .fail {
  color: darkred;
}

section .container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container .referenceImg {
  margin: 0 auto;
}

section .container .aboutMenu ul li {
  display: inline-block;
  padding: 0 5px;
}

section .container .aboutMenu ul li a {
  text-decoration: none;
}

section .container .aboutMenu ul li a:hover, section .container .aboutMenu ul li a:focus {
  color: rgba(0, 0, 0, 0.6);
}

section .container .aboutWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

@media only screen and (max-width: 1000px) {
  section .container .aboutWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .container .aboutWrapper .aboutText {
  margin-top: 50px;
  margin-left: 20px;
  width: 45%;
}

@media only screen and (max-width: 1000px) {
  section .container .aboutWrapper .aboutText {
    width: 100%;
  }
}

section .container .aboutWrapper .aboutList {
  width: 45%;
  padding-left: 50px;
}

@media only screen and (max-width: 1000px) {
  section .container .aboutWrapper .aboutList {
    width: 100%;
    margin-top: 50px;
  }
}

section .container .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
  padding-left: 50px;
  margin-bottom: 20px;
  max-width: 600px;
}

section .container .portfolio h3 {
  margin-left: 30px;
}

section .container .portfolio .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 600px;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .portfolio .details .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0;
}

section .container .portfolio .details .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .container .portfolio .details .img img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .container .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .container .add ul {
  margin: 0;
}

section .container .add ul li {
  padding: 0 10px;
  font-size: 0.8rem;
  display: inline-block;
}

section .container .add ul li a {
  text-decoration: none;
}

section .container .add ul li a:hover, section .container .add ul li a:focus {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}

section .container .settingWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .settingWrapper .settingSide {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .settingWrapper .settingSide h4 {
  margin-bottom: 30px;
}

section .container .settingWrapper .settingMiddle {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 20px 40px;
}

section .container .settingWrapper .settingMiddle .link {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .settingWrapper .settingMiddle .link p {
  margin: 0;
  padding: 0;
  color: darkred;
  font-size: 1.2rem;
}

section .container .settingWrapper .settingMiddle ul {
  display: block;
}

section .container .settingWrapper .settingMiddle .defaultAvatar {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .settingWrapper .settingMiddle .defaultAvatar span {
  height: 50px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .container .settingWrapper .settingMiddle .defaultAvatar img {
  width: 50px;
  max-width: 50px;
  height: auto;
  margin: 0 10px;
}

section .container .settingWrapper .settingMiddle .avatarFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .settingWrapper .settingMiddle .avatarFile img {
  max-width: 150px;
  height: auto;
}

section .container .settingWrapper .settingMiddle .stat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .container .settingWrapper .settingMiddle .stat div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.418);
}

section .container .settingWrapper .settingMiddle .stat .statPage {
  width: 50%;
  padding: 10px 20px;
  text-align: center;
}

section .container .settingWrapper .settingMiddle .stat .statPage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container .settingWrapper .settingMiddle .stat .statPage div span {
  width: 50%;
  display: block;
  padding: 0 10px;
  width: 30%;
  text-align: left;
}

section .container .settingWrapper .settingMiddle .stat .statPage div span:first-of-type {
  text-align: right;
  border-right: 1px solid rgba(0, 0, 0, 0.418);
}

section .container .settingWrapper .settingMiddle .stat .statPage .even {
  background: rgba(0, 0, 0, 0.1);
}

section .container .portfolioMenu {
  float: right;
}

section .container .portfolioMenu span {
  margin: 0 10px;
}

section .container .portfolioMenu span a {
  text-decoration: none;
}

section .container .portfolioMenu span a:hover, section .container .portfolioMenu span a:focus {
  color: rgba(0, 0, 0, 0.521);
  letter-spacing: 1px;
}

section .container .portfolioList {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.144);
  padding: 20px 0;
}

section .container .portfolioList h3 {
  color: rgba(0, 0, 0, 0.418);
}

section .container .portfolioList .img {
  width: 80%;
  height: 300px;
  overflow: hidden;
}

section .container .portfolioList .img img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .container .portfolioList .line {
  width: 50%;
  height: 1px;
  background: rgba(0, 0, 0, 0.144);
}

section .container .portfolioList .grupWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

section .container .portfolioList .grupWrap .itemWrap {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

section .container .portfolioList .grupWrap .itemWrap .img {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

section .container .portfolioList .grupWrap .itemWrap .img span {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  position: absolute;
  right: 20px;
  top: 10px;
}

section .container .portfolioList .grupWrap .itemWrap img {
  width: 300px;
  height: auto;
}

section .container .portfolioList .grupWrap .itemWrap a {
  overflow: hidden;
}

section .container .portfolioList .grupWrap .itemWrap a:hover div, section .container .portfolioList .grupWrap .itemWrap a:focus div {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section .container .portfolioList .grupWrap .itemWrap a:hover div span, section .container .portfolioList .grupWrap .itemWrap a:focus div span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section .container .portfolioList .grupWrap .itemWrap a div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 2rem;
  width: 100%;
  height: 100%;
  background: rgba(210, 105, 30, 0.5);
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

section .container .portfolioList .grupWrap .itemWrap a div span {
  -webkit-transform: translateY(-600px);
          transform: translateY(-600px);
}

section .container .portfolioList .grupWrap .itemWrap a img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .container .portfolioList .grupWrap .itemWrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
}

section .container .divCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .divCenter .link {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .divCenter .link p {
  margin: 0;
  padding: 0;
  color: darkred;
  font-size: 1.2rem;
}

section .container .divCenter .register {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

section .container .divCenter .register form {
  margin: 10px;
}

section .container .divCenter .register div {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #1e87d2;
  color: white;
}

section .container .divCenter .register div a {
  color: white;
}

section .container .divCenter .login {
  height: 250px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  section .container .divCenter .login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 10px;
  }
}

section .container .divCenter .login form {
  margin: 0 20px;
}

@media only screen and (max-width: 500px) {
  section .container .divCenter .login form {
    margin-bottom: 20px;
  }
}

section .container .divCenter .login form input {
  width: 200px;
}

section .container .divCenter .login div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #1e87d2;
  color: white;
}

@media only screen and (max-width: 500px) {
  section .container .divCenter .login div {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 0;
  }
}

section .container .divCenter .login div a {
  color: white;
}

section .container .divCenter .section {
  margin-top: 50px;
}

section .container .divCenter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section .container .divCenter div a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter div a:hover, section .container .divCenter div a:focus {
  color: white;
  background: chocolate;
  font-weight: bolder;
}

section .container .divCenter div .noArtic {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .divCenter div .articleHome {
  animation: lazyDivL 0.5s ease-in 1;
  -moz-animation: lazyDivL 0.5s ease-in 1;
  -webkit-animation: lazyDivL 0.5s ease-in 1;
}

section .container .divCenter div .article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 50px;
  padding: 10px 0;
  background-color: #c7dcf0;
  border: 1px solid darkslategrey;
}

section .container .divCenter div .article .noArticle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section .container .divCenter div .article .editBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

section .container .divCenter div .article .editBox .button {
  margin: 10px;
}

section .container .divCenter div .article .editBox .button a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter div .article .editBox .button .edit:hover, section .container .divCenter div .article .editBox .button .edit:focus {
  color: white;
  background: #2DD21E;
  font-weight: bolder;
}

section .container .divCenter div .article .editBox .button .delete:hover, section .container .divCenter div .article .editBox .button .delete:focus {
  color: white;
  background: darkred;
  font-weight: bolder;
}

section .container .divCenter div .article .aprove {
  position: relative;
  background: darkred;
  color: white;
  margin-bottom: 10px;
}

section .container .divCenter div .article .aprove div {
  position: absolute;
  left: -40px;
  color: darkgreen;
}

section .container .divCenter div .article .titleBox {
  position: relative;
  background: chocolate;
  padding: 0 10px;
  z-index: 9;
}

section .container .divCenter div .article .content,
section .container .divCenter div .article .title,
section .container .divCenter div .article .created_at {
  padding: 10px 20px;
}

section .container .divCenter div .article .commentList {
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .container .divCenter div .article .commentList .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .container .divCenter div .article .commentList .item .editBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .container .divCenter div .article .commentList .item p {
  width: 100%;
  position: relative;
  padding: 0 10px;
}

section .container .divCenter div .article .commentList .item p::before {
  position: absolute;
  content: '';
  left: -5px;
  top: -30px;
  height: 50px;
  width: 1px;
  background: rgba(0, 0, 0, 0.7);
}

section .container .divCenter div .article .commentList .item p form {
  width: 100%;
}

section .container .divCenter div .article .commentList .item p form textArea {
  width: 100%;
}

section .container .divCenter div .article .commentBox {
  margin: 30px;
  margin-bottom: 0;
}

section .container .divCenter .homeSectionOne {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

section .container .divCenter .homeSectionOne .homeAboutWrap {
  width: 50%;
  min-height: 300px;
}

section .container .divCenter .homeSectionOne .homeAboutWrap .homeAbout {
  width: 100%;
  height: 100%;
  min-height: 300px;
  padding: 0 20px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap {
  width: 50%;
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome {
  margin-bottom: 20px;
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img {
  overflow: hidden;
  height: auto;
  position: relative;
  animation: lazyDivR 0.3s ease-in 1;
  -moz-animation: lazyDivR 0.3s ease-in 1;
  -webkit-animation: lazyDivR 0.3s ease-in 1;
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a {
  overflow: hidden;
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a:hover div, section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a:focus div {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a:hover div span, section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a:focus div span {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a div span {
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
}

section .container .divCenter .homeSectionOne .portfolioHomeWrap .portfolioHome .img a img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

section .container .divCenter .addArticle a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter .addArticle a:hover, section .container .divCenter .addArticle a:focus {
  color: white;
  background: chocolate;
  font-weight: bolder;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form table tbody tr th label {
  float: right;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

form table tbody tr td input,
form table tbody tr td textarea {
  margin: 5px 0;
  padding: 0 10px;
}

label {
  padding: 0 10px;
}

label .radio {
  margin-right: 5px;
}

.error {
  color: darkred;
}

.btn-primary {
  background: #1E87D2;
}

.hidden {
  height: 0;
  display: none;
  visibility: hidden;
}

.commentList .commentList {
  margin-left: 40px;
}

.commentList .commentList .commentList {
  margin-left: 40px;
}

.item {
  margin-left: 20px;
  padding-top: 20px;
}

.item .editBox .change {
  position: relative;
}

.item .editBox .change::before {
  position: absolute;
  left: -15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}

.item .editBox .add::before {
  content: '+';
  color: green;
  border: 1px solid green;
}

.item .editBox .delete::before {
  content: '-';
  color: darkred;
  border: 1px solid darkred;
}

.item .editBox .edit::before {
  content: 'e';
  color: blue;
  border: 1px solid blue;
}

.quote {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 20px;
}

.quote span {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: rgba(0, 0, 0, 0.4);
}

.flexTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 5px;
  background: #ced4da;
}

.flexTestLogin {
  width: 200px;
}

.flexTestLogin br {
  display: none;
}

.flexTestLogin label {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flexTestLogin label input[type=radio] {
  border: 0px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  display: table-cell;
}

.flexTestLogin label input {
  width: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0;
}

.lazy {
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.lazyR {
  animation: lazyR 0.3s ease-in 1;
  -moz-animation: lazyR 0.3s ease-in 1;
  -webkit-animation: lazyR 0.3s ease-in 1;
}

.lazyL {
  animation: lazyL 0.3s ease-in 1;
  -moz-animation: lazyL 0.3s ease-in 1;
  -webkit-animation: lazyL 0.3s ease-in 1;
}

.lazyDivR {
  animation: lazyDivR 0.5s ease-in 1;
  -moz-animation: lazyDivR 0.5s ease-in 1;
  -webkit-animation: lazyDivR 0.5s ease-in 1;
}

.lazyDivL {
  animation: lazyDivL 0.5s ease-in 1;
  -moz-animation: lazyDivL 0.5s ease-in 1;
  -webkit-animation: lazyDivL 0.5s ease-in 1;
}

@-webkit-keyframes lazyL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lazyL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes lazyR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lazyR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes lazyDivL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lazyDivL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes lazyDivR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes lazyDivR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

footer {
  background: #424242;
  -webkit-box-shadow: 0px 0px 3px 5px #00000030;
          box-shadow: 0px 0px 3px 5px #00000030;
}

footer .footer {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

footer .footer .copy {
  color: #9b9b9b;
}

footer .footer .footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

footer .footer .footerContent .footerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10%;
}

footer .footer .footerContent .footerMenu ul {
  width: 100%;
  border-left: 1px solid #646464;
  border-right: 1px solid #646464;
}

footer .footer .footerContent .footerMenu ul li a {
  padding: 5px 0;
  padding-left: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

footer .footer .footerContent .footerMenu ul li a::after {
  content: '';
  background-color: chocolate;
  height: 1px;
  width: 0%;
  position: absolute;
  bottom: 10px;
}

footer .footer .footerContent .footerMenu ul li a:hover, footer .footer .footerContent .footerMenu ul li a:focus {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  letter-spacing: 2px;
  color: chocolate;
}

footer .footer .footerContent .footerMenu ul li a:hover::after, footer .footer .footerContent .footerMenu ul li a:focus::after {
  -webkit-animation: footerMenu 0.5s;
          animation: footerMenu 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes footerMenu {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes footerMenu {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.topBlock {
  width: 100%;
  background-color: chocolate;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 5px 0px #00000030;
          box-shadow: 0px 3px 5px 0px #00000030;
}

.topBlock .topContent {
  width: 100%;
  max-width: 1200px;
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBlock .topContent:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 25%;
}

.topBlock .topContent > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.topBlock .topContent .topMe {
  height: 100%;
  width: 30%;
  position: relative;
  margin-left: 100px;
}

.topBlock .topContent .topMe img {
  height: 300px;
  width: auto;
  position: absolute;
  top: -23px;
}

.topBlock .topContent .topText {
  width: 70%;
  height: 100%;
}

.topBlock .topContent .topText .topTextLine {
  width: 100%;
  height: 0;
  -webkit-box-shadow: 0px 3px 5px 0px #00000030;
          box-shadow: 0px 3px 5px 0px #00000030;
}

.topBlock .topContent .topText div ul li span {
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 999;
  font-size: 3rem;
  color: white;
}
/*# sourceMappingURL=main.css.map */