*,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  width: auto;
  position: relative;
  display: inline-block;
}

h1 span {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 1.2rem;
}

h2 {
  position: relative;
  display: inline-block;
}

h2 span {
  position: absolute;
  bottom: -1.3rem;
  right: 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

h4,
h3 {
  position: relative;
  padding: 0 30px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h4 span,
h4 a,
h3 span,
h3 a {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

nav .container-fluid {
  max-width: 1200px;
  margin: 0 auto;
}

nav .container-fluid .logo {
  width: 90px;
  height: 46px;
  background: chocolate;
}

nav .container-fluid .collapse .navbar-nav .nav-item {
  width: 100px;
}

nav .container-fluid .collapse .navbar-nav .nav-item a {
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
}

nav .container-fluid .collapse .navbar-nav .nav-item a:hover, nav .container-fluid .collapse .navbar-nav .nav-item a:focus {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  letter-spacing: 2px;
}

nav .container-fluid .collapse .navbar-nav .active {
  margin-top: 10px;
  font-weight: bolder;
  color: chocolate;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  letter-spacing: 2px;
}

nav .container-fluid .collapse .nav-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .collapse .nav-main li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container-fluid .user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .user-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container-fluid .user-nav div img {
  width: 40px;
  height: auto;
  margin: 0 10px;
}

nav .container-fluid .user-nav li ul li {
  list-style: none;
  font-size: 0.9rem;
}

nav .container-fluid .user-nav li ul li a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}

nav .container-fluid .user-nav li ul li a:hover, nav .container-fluid .user-nav li ul li a:focus {
  color: #1E87D2;
}

.errorPage {
  padding-top: 50px;
}

.errorPage {
  padding-top: 50px;
}

.errorPage div {
  padding-top: 50px;
}

.flashWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: lightgrey;
}

.flashWrapper .info {
  color: blue;
}

.flashWrapper .success {
  color: #0e8003;
}

.flashWrapper .fail {
  color: darkred;
}

section .container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

section .container .settingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .settingWrapper .settingMiddle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 20px 40px;
}

section .container .settingWrapper .settingMiddle ul {
  display: block;
}

section .container .settingWrapper .settingMiddle .defaultAvatar {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .settingWrapper .settingMiddle .defaultAvatar span {
  height: 50px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section .container .settingWrapper .settingMiddle .defaultAvatar img {
  width: 50px;
  max-width: 50px;
  height: auto;
  margin: 0 10px;
}

section .container .settingWrapper .settingMiddle .avatarFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .container .settingWrapper .settingMiddle .avatarFile img {
  max-width: 150px;
  height: auto;
}

section .container .settingWrapper .settingSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .container .settingWrapper .settingSide div:nth-of-type(1) {
  padding: 10px;
  margin: 20px 40px;
  margin-top: 50px;
}

section .container .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding-left: 50px;
}

section .container .portfolio h3 {
  margin-left: 30px;
}

section .container .portfolio .grupWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container .portfolio .grupWrap .itemWrap {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

section .container .portfolio .grupWrap .itemWrap .img {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

section .container .portfolio .grupWrap .itemWrap .img span {
  background: rgba(255, 255, 255, 0.534);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  position: absolute;
  right: 20px;
  top: 10px;
}

section .container .portfolio .grupWrap .itemWrap img {
  width: 300px;
  height: auto;
}

section .container .portfolio .grupWrap .itemWrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
}

section .container .divCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section .container .divCenter .portfolio {
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

section .container .divCenter .portfolio img {
  max-width: 300px;
  height: auto;
}

section .container .divCenter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section .container .divCenter div a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter div a:hover, section .container .divCenter div a:focus {
  color: white;
  background: chocolate;
  font-weight: bolder;
}

section .container .divCenter div .noArtic {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .divCenter div .article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 50px;
  padding: 10px 0;
  background-color: #c7dcf0;
  border: 1px solid darkslategrey;
}

section .container .divCenter div .article .noArticle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section .container .divCenter div .article .editBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 40px;
}

section .container .divCenter div .article .editBox .button {
  margin: 10px;
}

section .container .divCenter div .article .editBox .button a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter div .article .editBox .button .edit:hover, section .container .divCenter div .article .editBox .button .edit:focus {
  color: white;
  background: #2DD21E;
  font-weight: bolder;
}

section .container .divCenter div .article .editBox .button .delete:hover, section .container .divCenter div .article .editBox .button .delete:focus {
  color: white;
  background: darkred;
  font-weight: bolder;
}

section .container .divCenter div .article .titleBox {
  position: relative;
  background: chocolate;
  padding: 0 10px;
  z-index: 9;
}

section .container .divCenter div .article .content,
section .container .divCenter div .article .title {
  padding: 10px 20px;
}

section .container .divCenter div .article .commentList {
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .container .divCenter div .article .commentList .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section .container .divCenter div .article .commentList .item .editBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section .container .divCenter div .article .commentList .item p {
  position: relative;
  padding-left: 10px;
}

section .container .divCenter div .article .commentList .item p::before {
  position: absolute;
  content: '';
  left: -5px;
  top: -30px;
  height: 50px;
  width: 1px;
  background: rgba(0, 0, 0, 0.7);
}

section .container .divCenter div .article .commentBox {
  margin: 30px;
  margin-bottom: 0;
}

section .container .divCenter .addArticle a {
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

section .container .divCenter .addArticle a:hover, section .container .divCenter .addArticle a:focus {
  color: white;
  background: chocolate;
  font-weight: bolder;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form table tbody tr th label {
  float: right;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

form table tbody tr td input,
form table tbody tr td textarea {
  margin: 5px 0;
  padding: 0 10px;
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
}

.error {
  color: darkred;
}

.btn-primary {
  background: #1E87D2;
}

.hidden {
  height: 0;
  display: none;
  visibility: hidden;
}

.commentList .commentList {
  margin-left: 40px;
}

.commentList .commentList .commentList {
  margin-left: 40px;
}

.item {
  margin-left: 20px;
  padding-top: 20px;
}

.item .editBox .change {
  position: relative;
}

.item .editBox .change::before {
  position: absolute;
  left: -15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3px;
}

.item .editBox .add::before {
  content: '+';
  color: green;
  border: 1px solid green;
}

.item .editBox .delete::before {
  content: '-';
  color: darkred;
  border: 1px solid darkred;
}

.item .editBox .edit::before {
  content: 'e';
  color: blue;
  border: 1px solid blue;
}
/*# sourceMappingURL=main.css.map */