{foreach $emails as $key => $val}
    <div class="emailMessages">
        <p>receved: {$val->created_at}</p>
        <p>From: {$val->from}</p>
        <p>Subject: {$val->subject}</p>
        <p>Message: {$val->message}</p> 
        {var $x = "email_$val->email_id"}
        <a n:href="delete! $x">delete</a>
    </div>
{/foreach}