parameters:
	wwwDir: %appDir%/Models/../www
	imageStorage: ImageStorage(%wwwDir%/www/storage)

application:
	errorPresenter: Error
	#catchExceptions: yes
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

services:
	- App\Router\RouterFactory::createRouter

	- Nette\Utils\ArrayHash	
	
	- App\Models\CustomFormModel
	- App\Models\BlogModel
	- App\Models\UserModel
	- App\Models\FileModel
	- App\Models\PortfolioModel
	- App\Models\StatisticModel
	- App\Models\EmailModel

	- App\Forms\LoginFactory
	- App\Forms\RegisterFactory
	- App\Forms\BlogFactory

	- App\Forms\CustomFormFactory
	- App\Forms\ContactForm
	- App\Forms\SettingsForm
	- App\Forms\PortfolioForm


	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
