parameters:
	wwwDir: %appDir%/Models/../www
	imageStorage: ImageStorage(%wwwDir%/www/storage)

application:
	errorPresenter: Error
	#catchExceptions: yes
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	- App\Router\RouterFactory::createRouter

	- App\Models\BlogModel
	- App\Models\UserModel

	- Nette\Utils\ArrayHash	
	- App\Models\CustomFormModel
	- App\Models\AdminModel
	- App\Forms\CustomFormFactory
	- App\Forms\LoginFactory
	- App\Forms\RegisterFactory
	- App\Forms\BlogFactory
	- App\Forms\ContactForm
	- App\Forms\SettingsForm
	- App\Forms\AdminForm
	- App\Models\FileModel

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])
