{block content}
<div class="aboutMenu">
    <ul>
        <li><a n:href="about:default, 'web'">About this site</a></li>
        <li>|</li>
        <li><a n:href="about:default, 'me'">About Me</a></li>
    </ul>
</div>
{if isset($value)}
    {if $value == 'me'}
        {include 'me.include.latte'}
    {/if}
    {if $value == 'web'}
        {include 'website.include.latte'}
    {/if}
{else}
    {include 'website.include.latte'}         
{/if}   
