{block content}
<div id="banner">
    <h1 n:block=title>Login</h1>
</div>

<div class="divCenter" id="content">
    <div class="login">        
        {control loginForm}
        <div>
            Are you Not Registered?
            <a href="/register"> Register HERE!</a>
        </div>
    </div>
</div>
{block scripts}
        <script src="/js/colors-login.js"></script>
{/block}